.nav{
	background-color: #118BC0;
	overflow: hidden;
}

.left{
	background-color: white;
	height: 1.8em;
	width: 1.8em;
	display: inline-block;
	margin-left: .6em;
	margin-top: .5em;
	float:left;
	
}

.middle{
	width: 8em;
	display: inline-block;
	padding-top: 1em;
	padding-bottom: .5em;
	margin-left: .5em;
	text-align: center;
	font-size: .85em;
	color: white;
	float: left;

}

.right{
	background-color: #0070A4;
	height: 1.9em;
	width: 6em;
	float: right;
	color: white;
	text-align: center;
	font-size:.6em;
	padding-top: 2em;
	padding-bottom: 1em;


	
}

main{
	background-color: #344051;
	padding-bottom: 2.6em;

}

.create{
	font-size: 24px;
	color: white;
	text-align: center;
	padding-top: 6em;
	line-height: 1.2em;
}

.createSub{
	font-size: 13px;
	color: white;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}
 .firstBox{
 	background-color: #1E8CBE;
 	width: 9em;
 	border: black solid .5em;
 	margin: 0 auto;
 	text-align: center;
 	font-size: 1em;
 	color: white;
 	padding-top: .7em;
 	padding-bottom: .7em;

 }
 .tinyBox{
 	background-color: white;
 	height: 1em;
 	width: 2.5em;
 	margin-top: 8em;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 5em;

 }

 .whiteMain{
 	/*background-color: white;*/
 	height: 3.4em;
 	width: 16em;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 1.8em;

 }
.smGrayWhite{
	background-color:white;
	height: 2.3em;
	width: 2em; 
	border-top: white solid .5em;
	border-right: white solid .5em;

}

 .grayWhite{
 	/*background-color: #616E7F;*/
 	height: 2.9em;
 	width: 13em;
 	float: right;
 	/*border-bottom: white solid .5em;
 	border-right: white solid .2em;*/

 }
 .title{
 	color:white;
 	font-size: .9em;
 	padding-left: .4em;

 }

 .description{
 	color: white;
 	font-size: .7em;
 	padding-top: .5em;
 	padding-left: .4em;

 }

 .babyBlue{
 	background-color: #E7EFF4;
 	font-size: 1.2em;
 	color: #45546D;
 	text-align: center;
 	padding-top: 1.3em;
 	padding-bottom: 1.3em;
 	line-height: 1.7em;
 }

 .grayMain{
 	background-color: #D0D2D6;
 	padding-top: .1em;
 	padding-bottom: 1em;
 }

 .whiteGray{
 	background-color: white;
 	height: 9em;
 	margin-top: 1em;
 	margin-left: .5em;
 	margin-right: .5em;
 	padding-top: 1em;
 	padding-bottom: 2em;
 }

 .grayA{
 	background-color: #C7D2D8;
 	height: 3em;
 	width: 3em;
 	margin: 0 auto;
 }
 .grayB{
 	/*background-color: #C7D2D8;*/
 	margin-left: 1em;
 	margin-right: 1em;
 	margin-top: 1em;
 	text-align: center;
 	font-size: 1em;
 	color: #344051;
 }
 .grayC{
 	/*background-color: #C7D2D8;*/
 	/*height: 3em;*/
 	margin-left: 1em;
 	margin-right: 1em;
 	margin-top: 1em;
 	text-align: center;
 	font-size: .9em;
 	line-height: 1.5em;

 }

 #babyBlueTwo{
 	font-size: 1.1em;
 	color: #45546D;
 	text-align: center;

 }

 #firstBoxTwo{
 	border: 0;
 	margin-top: 1em;
 	padding: .3em;

 }

 footer{
 	background-color: black;
 	text-align: center;
 	padding-top: 1em;
 	padding-bottom: 1em;

 }

a{
 	color:white;
 	font-size: 10px;
 	text-align: center;
 	color: white;
 	margin-left: .5em;
 	margin-right: .5em;
 	text-decoration: none;

 }
 	

 .footerWhite{
 	height: 1em;
 	background-color: black;
 	/*width: 7em;
 	margin: auto;
 	margin-top: 1em;*/
 }