nav{
	height: 3em;
	background-color: #118BC0;
}

main{
	background-color: #344051;
	padding-bottom: 2.6em;

}

.create{
	font-size: 24px;
	color: white;
	text-align: center;
	padding-top: 6em;
	line-height: 1em;
}

.createSub{
	font-size: 13px;
	color: white;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}
 .firstBox{
 	background-color: #1E8CBE;
 	height: 2em;
 	width: 10em;
 	border: black solid .5em;
 	margin: 0 auto;

 }
 .tinyBox{
 	background-color: white;
 	height: 1em;
 	width: 2.5em;
 	margin-top: 8em;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 5em;

 }

 .whiteMain{
 	background-color: white;
 	height: 3.4em;
 	width: 16em;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 1.8em;

 }

 .babyBlue{
 	background-color: #E7EFF4;
 	height: 8em;
 }

 .grayMain{
 	background-color: #D0D2D6;
 	padding-top: .1em;
 	padding-bottom: 1em;
 }
 .whiteGray{
 	background-color: white;
 	height: 9em;
 	margin-top: 1em;
 	margin-right-bottom: 2em;
 	margin-left: .5em;
 	margin-right: .5em;
 }

 #babyBlueTwo{
 	padding-top: 5em;
 	height: 3em;
 }

 #firstBoxTwo{
 	border: 0;

 }

 footer{
 	background-color: black;
 	text-align: center;
 	padding-top: 1em;
 	padding-bottom: 1em;

 }

 span{
 	color:white;
 	font-size: 10px;
 	text-align: center;

 }

 .footerWhite{
 	height: 1em;
 	background-color: white;
 	margin-left: 9em;
 	margin-right: 9em;
 	margin-top: .6em;
 }